/* разделилил хэдер на 3 колонки, отцентровали */
.header {
    display: grid;
    grid-template-columns: 477px auto 477px;
    align-items: center;
    margin-bottom: 96px;
}


.header__menu {
    padding-left: 51px;
}

/* работа с навигацией */
.header__links-list {
    display: flex;
    align-items: flex-start;
    gap: 34px;
    list-style: circle;
    margin: 0;
    padding: 0;
}

/* убрали точку у "главная" */
.header__menu-item_no-bullet { 
    list-style: none;
} 

.header__links-list-item {

}

.logo-image {
    justify-self: center;
} 

/* изменили размер фото, ранее оно было больше на всю страницу */
.header__logo-link {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
    justify-self: center
}

.address {
  display: grid;
  grid-template-rows: 3;
  font-style: normal;
}

.adress__link {

}

.mail__link {

}

.content-section {
    margin-bottom: 179px;
}

.content-image {

}

.section-image {
    
}

.cover {
    height: 757px;
    position: relative;
    background-image: url("../images/lotus-flower.svg");
    background-position: no-repeat;
    background-size: cover;
    margin-bottom: 179px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cover__title {
    width: 100%;
    padding: 165px 50px 0 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
}

.aligned-text {
    text-transform: uppercase;
    display: block;
}

.aligned-text__left {
    text-align: left;
}

.aligned-text__center {
    text-align: center;
}

.aligned-text__right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 40px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {  
    text-transform: uppercase;
    color: white;
    padding: 120px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    word-spacing: 80%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 28px;
}

.bet-button {
    padding: 0 50px 0 50px;
    background: transparent;
    color: white;
    border: 1px solid #fff;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 16px 40px 16px 31px;
    font-size: 22px;
}

.lots {
    height: 692px;
    /* background-color: rgb(223, 223, 223); */
    padding: 10px 24px 0 24px;
}

.lots__heading {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    padding-left: 40px;
    padding-bottom: 36px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
}

.lots__card-list-item {
    height: 563px;
    width: 334px;
    padding: 56px 40px 48px 40px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lot__1 {
    position: relative;
    z-index: 1;
    background-image: url("../images/card-lot-01.jpg");
    background-position: no-repeat;
    background-size: cover;
}

.lot__1::before {
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.6);
    z-index: -1;

}

.lot__2 {
    position: relative;
    z-index: 1;
    background-image: url("../images/card-lot-02.jpg");
    background-position: no-repeat;
    background-size: cover;
}

.lot__2::before {
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.6);
    z-index: -1;

}

.lot__3 {
    position: relative;
    z-index: 1;
    background-image: url("../images/card-lot-03.jpg");
    background-position: no-repeat;
    background-size: cover;
}

.lot__3::before {
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.6);
    z-index: -1;

}


.cover__lots {

}

.see-more {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    padding-top: 36px;
    padding-left: 40px;
}

.about {
    height: 560px;
    /* background-color: rgb(223, 223, 223); */
    display: flex;
    
}

.about__logo-image {
    height: 250px;
    width: 250px;
    padding-left: 47px;
    padding-top: 35px;
}

.about__auction {
    padding-left: 72px;
    padding-top: 110px;
}

.about__auction-heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__auction-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 100px;
}

.text-padding {
    padding-top: 29px;
    word-spacing: 1%;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer__address {
    padding-left: 50px;

}

.footer__menu {
    display: flex;
    justify-content: center;
}

.footer__header__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: circle;
    margin: 0;
    padding: 0;
}

.footer__link {
    display: flex;
    gap: 48px;
}

.footer__link-Yotube-Vk-Pinterest {
    height: 48px;
    width: 48px;
}

.footer__links-list-item  {
    list-style: none;
}

.footer__header__menu-item {
    list-style: none;
}






    
    
    












